@{
    ViewBag.Title = "About Us";
   
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-md-12">
            <h3>Our Vision</h3>
            <p>People’s Clinic is a Clinic dedicated to excellence in medical services. We provide the highest quality patient-centric care. Ever since we first opened our doors in March 2013, we have been committed to defining new frontiers in healthcare by building an environment driven by interdisciplinary collaboration and innovative practice in the field of medicine.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Our Mission</h3>
        <p>People’s carefully chosen team of experts , who are internationally-recognized healthcare professionals from over 30 specialties, is dedicated to providing top-notch patient care using world-class medical equipment and superior technology. In collaboration with our doctors is a proactive team of nurses and staff that helps ensure that patients always receive the latest and most effective treatments in evidence-based medicine.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Our Values</h3>
        <h4>Quality</h4>
        <p>Continental Hospitals is committed to the continuous evaluation and improvement of all processes related to delivering comprehensive medical treatment and superior patient care.</p>
        <h4>Integrity</h4>
        <p>Transparency among systems and physician practices will reflect Continental Hospitals conduct at all times.</p>
        <h4>Excellence</h4>
        <p>Continental Hospitals will strive to foster teamwork, innovation, personal responsibility and trust in every aspect.</p>
        <h4>Dignity</h4>
        <p>Continental Hospitals will always uphold patient dignity, safety and respect.</p>
    </div>
</div>