@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
       <hr/>       
        <div class="row">
            <div class="col-md-3">
                <img src="~/Images/addressimage.png" style="width: 50%;display: block" />
            </div>
            <div class="col-md-9">
                <strong>Clinic's Address:</strong><br />
                800 N State College Blvd.<br />
                Fullerton, CA 92831-3599<br />
                <strong>Mail P.O Box:</strong>34080
                Fullerton C.A 92834-9480<br />
                <abbr title="Phone"><strong>Phone:</strong></abbr>
                657-278-2011
                <div />
            </div>
        </div>

</address>

<address>
    <div class="row">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-9">
            <strong>Clinic's Official Address</strong><br />
            Yorba Linda BLVD<br />
            Fullerton, C.A 92831<br />
            <abbr title="Phone"><strong>Phone:</strong></abbr>
            425.555.0100
            <div />
        </div>
    </div>
    <hr/>
</address>
<address>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/phoneimage.png" style="width: 50%;display: block" />
        </div>
        <div class="col-md-9">         
            <abbr title="Phone"><strong>Phone:</strong></abbr>
            657-278-2011
            <div />
        </div>
    </div>

</address>



<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>