
@{
    ViewBag.Title = "PatientCare";
}

<h2></h2>
<h1>Key Medical Features</h1>
<h2>Surgical System</h2>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/surgicalsystem.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong>
            You've just been diagnosed with a condition requiring surgery. Until very recently your options included traditional surgery with a large open incision or laparoscopy, which uses small incisions but is typically limited to very simple procedures.
        
        </p>
    </div>
</div>
<hr/>
<h2>Cardiac Surgery</h2>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/h.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong><strong>Minimally Invasive Coronary Bypass Surgery</strong> Conventional CABG or Coronary Bypass surgery is performed by splitting or cutting through the breastbone or sternum. MICAS or MICS CABG is a safe and complete operation that has revolutionised the way coronary surgery is performed.successfully completed 400 and more such surgeries.
                 </p>
    </div>
</div>
<hr/>
<h1>Centers of excellence</h1>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/allspecialities symbol.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong>has dedicated Centers of Excellence for several key specialties and super specialties. They are unique and state of the art facilities spread across several of the and each Centre of Excellence stands out as a citadel of excellence.
           
        </p>
    </div>
</div>
<hr/>
<h1>Service excellence</h1>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/serviceexcellence.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong> has dedicated Centers of Excellence for several key specialties and super specialties. They are unique and state of the art facilities spread across several of the
             each Centre of Excellence stands out as a citadel of excellence. Orthopedics,cardiology ,Gastroenterology ,Radiology ,Neurology.
         
        </p>
    </div>
</div>

<h2></h2>
