
@{
    ViewBag.Title = "Specialities";
}

<h2>Specialities</h2>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/HeartF1.png" style="width: 100%;display: block" />
           </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong>of Cardiovascular Sciences, <strong>the heart </strong>centre, is committed to provide advanced invasive & non-invasive procedures, specialized treatments and proven preventive assistance.  cardiac electrophysiologists, technologists, vascular surgeons,critical care specialists and nurses who are focused and dedicated to the diagnosis and treatment of all types of cardiac and vascular disorders. 
            <strong>Multiple disciplines at the Heart Centre</strong>
            <ul>
                <li>Cardiac Catheterization Lab</li>
                <li>Echocardiography (2D & 3D)Lab</li>
                <li>Heart Failure Centre</li>
                <li>Cardiac Rehabilitation Centre</li>
                <li>Healthy Heart Program</li>
                <li>Cardiac Preventive & Nutrition Centre</li>
            </ul>
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/Liver2.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong> of <strong>Gastroenterology & Liver</strong> Diseases specializes in the prevention, diagnosis and treatment of diseases of the digestive tract and liver. Gastroenterology is the area of medicine that deals with the digestive system and how our bodies digest food along with fortification by the liver and pancreas so that it can be absorbed by our intestines to fuel the rest of our body.
            Descrying the need of increasing digestive disorders, the People’s Clinic of Gastroenterology and Liver Diseases provides holistic leading care of digestive system, liver, pancreas and biliary tract. 
            
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/bones.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong>of Orthopaedics centre, committed to provide a redefining approach in the management of various Orthopaedic disorders   that affect the Foot & Ankle, Knee, Hip, Shoulder, Elbow, Wrist & Hand.We have an integrated, collaborative team of Super speciality trained Orthopaedic Surgeons with dedicated teams for Upper & Lower limbs, musculo-skeletal radiologists, Plastic surgeons & Physiotherapists. 
            <strong>Unique Facilities</strong>
            <ul>
                <li >Internationally trained orthopaedic surgeons</li>
                <li>Specialists for upper & lower limbs</li>
                <li >Super-speciality   orthopaedic practice</li>
            </ul>
                   </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/cancer.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong><strong>of multi-disciplinary cancer</strong>management, prevention and translational research under a single roof. People’s Clinic combines latest technology and experienced oncology teams trained at home in India and in internationally reputed institutions around the world.
             <strong>Multiple Disciplines at People’s Clinic</strong>
            <ul>
                <li> Centre for Breast Health</li>
                <li>Centre for Women's Health</li>
                <li>Preventive Oncology</li>
                <li>Day Care/Outpatient Chemotherapy</li>
                <li>Social Services/Support Groups</li>
                <li>Clinical Research</li>
            </ul>
          
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/brain.png" style="width: 100%;display: block" />
    </div>
    <div class="col-md-9">
        <p>
            <strong>People’s Clinic </strong><strong>of Neurosciences & Rehabilitation</strong>is one of the mostadvanced and world-class centres in the country, committed to provide are defining approach in the management of various neurological disordersthat affect the brain, spinal cord, muscles and nerves..
            <strong>Multiple Disciplines  </strong>
            <ul>
                <li>Cranial Endoscopic Neurosurgery Centre</li>
                <li>Hydrocephalus Centre</li>
                <li>Spine Endoscopic Neurosurgery Surgery Centre</li>
                <li>Endovascular Neurosurgery Center</li>
                <li>Brain Tumor center</li>
                <li>Pitutary Centre</li>
            </ul>
           


        </p>
    </div>
</div>




